---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=<WEATHER_API_KEY>&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/24/2023 20:02:24'
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 40ea7649fe4782807506deee4b7b5414
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695585698,"localtime":"2023-09-24
        14:01"},"current":{"last_updated":"2023-09-24 14:00","temp_f":72.7,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":9,"feelslike_f":72.3,"vis_miles":9.0,"uv":7.0},"forecast":{"forecastday":[{"date":"2023-09-24","day":{"maxtemp_f":78.8,"mintemp_f":49.5,"totalsnow_cm":0.0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"06:49
        AM","sunset":"06:54 PM"},"hour":[{"time":"2023-09-24 00:00","temp_f":62.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-24
        01:00","temp_f":60.6,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-24
        02:00","temp_f":58.6,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-24
        03:00","temp_f":56.8,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com[...]
